<menu>
  <header>
     <h1></h1>
  </header>
  <img class="banner" src="assets/menu/banner.svg" alt="banner">
  <div class="threeholder d-flex flex-row">
     <div class="threeone d-flex justify-content-center flex-column align-items-center">
        <div class="circlepic">
           <div class="circleborder">
              <i class="fa-solid fa-head-side-virus fa-2xl"></i>
           </div>
        </div>
        <h4>AnxietyDetect AI</h4>
        <p>Esse tenetur nihil voluptas tempora et soluta obcaecati, quod nemo aperiam animi asperiores voluptatibus, ex repellendus praesentium.</p>
     </div>
     <div class="threetwo d-flex justify-content-center flex-column align-items-center">
        <div class="circlepic">
           <div class="circleborder">
              <i class="fa-solid fa-hospital fa-2xl"></i>
           </div>
        </div>
        <h4>trIAge</h4>
        <p>Enim eveniet, asperiores facere, in nulla eos, corrupti iste voluptas nemo consequatur laboriosam veritatis exercitationem.</p>
     </div>
     <div class="threethree flex d-flex justify-content-center flex-column align-items-center">
        <div class="circlepic">
           <div class="circleborder">
              <i class="fa-solid fa-robot fa-2xl"></i>
           </div>
        </div>
        <h4>DermaChat</h4>
        <p>Eum dicta dolore et officia laudantium pariatur deserunt ducimus, impedit, harum magnam veritatis eaque aliquid sit praesentium.</p>
     </div>
  </div>
</menu>