<menu>

  <header>
    <h1>Bem vindo à aplicação da Left 4 Health</h1>
    <p>Em que te podemos ajudar hoje?</p>
  </header>

  <div class="threeholder d-flex flex-row">
    
    <div class="threeone d-flex flex-column">
        <div class="circlepic"></div>
        <div class="circleborder">
          <i class="fa-solid fa-head-side-virus fa-2xl"></i>    
    </div>
    <h4>Diagnóstico de Ansiedade</h4>
    <p>Esse tenetur nihil voluptas tempora et soluta obcaecati, quod nemo aperiam animi asperiores voluptatibus, ex repellendus praesentium.</p>   

    </div>
    <div class="threetwo d-flex flex-column">
        <div class="circlepic"></div><div class="circleborder">
          <i class="fa-solid fa-hospital fa-2xl"></i>
        </div>
        <h4>Triagem</h4>
        <p>Enim eveniet, asperiores facere, in nulla eos, corrupti iste voluptas nemo consequatur laboriosam veritatis exercitationem.</p>
    </div>
    <div class="threethree flex d-flex flex-column">
        <div class="circlepic"></div>
        <div class="circleborder">
          <i class="fa-solid fa-robot fa-2xl"></i>
        </div>
        <h4>TITLE 3</h4>
        <p>Eum dicta dolore et officia laudantium pariatur deserunt ducimus, impedit, harum magnam veritatis eaque aliquid sit praesentium.</p>
    </div>
  </div>
</menu>