menu {
    display: flex;
	position: fixed;
    flex-direction: column;
    padding: 0; 
    margin: 0;
	margin-top: 5%;
    height: 100%;
	width: 100%;
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

header {
    background-color: #12372A;
    text-align: center;
    width: 90%;
	height: 100%;
    color: white;
}

.threeholder {
	position: relative;
	width: 90%;
	height:70%;
    align-self: center;
    border: 15px solid #12372A;
}


.threeone,
.threetwo,
.threethree {
	align-items: center;
    width: 100%;
    height: 100%;
    background: #436850;
    transition: all 0.25s;
}

.threeone:hover h4,
.threetwo:hover h4,
.threethree:hover h4{
	color: black;
}

.threeone:hover,
.threetwo:hover,
.threethree:hover {
	background: #ADBC9F;
}

.threeone:hover .circleborder,
.threetwo:hover .circleborder,
.threethree:hover .circleborder{
	background: #ADBC9F;
}

.threeone:hover .circlepic {
	background: #12372A;
}


.circleborder {
	margin-left: 9%;
	margin-top: 9%;
	width: 90px;
	height: 90px;
	background: #436850;
	border-radius: 50%;
}
.circlepic {
	width: 110px;
	height: 110px;
	background: #12372A;
	border-radius: 50%;
}

i {
    margin-left: 29%;
    margin-top: 50%;
}

.threeholder h4 {
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.threeholder p {
	display: inline-block;
	font-size: 12px;
	color:#8a8a8a;
	letter-spacing: 1px;
}