<menu>
   <header>
      <h1></h1>
   </header>
   <img class="banner" src="assets/menu/banner.svg" alt="banner">
   <div class="threeholder d-flex flex-row">
      <div class="threeone d-flex justify-content-center flex-column align-items-center">
         <a href="/trIAge">
            <button class="circlepic">
                <div class="circleborder">
                    <i class="fa-solid fa-head-side-virus fa-2xl"></i>
                </div>
            </button>
        </a>
         <h4>AnxietyDetect AI</h4>
         <p>AnxietyDetectionAI is an expert system designed for diagnosing the presence and type of anxiety. Leveraging artificial intelligence, it accurately assesses anxiety levels and categorizes the type of anxiety disorder. This system provides invaluable insights for individuals seeking to understand and manage their anxiety effectively.</p>
      </div>
      <div class="threetwo d-flex justify-content-center flex-column align-items-center">
         <a href="/trIAge">
            <button class="circlepic">
                <div class="circleborder">
                    <i class="fa-solid fa-hospital fa-2xl"></i>
                </div>
            </button>
        </a>
         <h4>trIAge</h4>
         <p>TrIAge utilizes machine learning technologies for patient triage based on symptoms and patient characteristics. By leveraging machine learning algorithms, it accurately assesses patient conditions and recommends hospitals with the shortest wait times. Additionally, it employs decision-making systems for suggesting hospitals, taking into account patient preferences for proximity or queue length.</p>
      </div>
      <div class="threethree flex d-flex justify-content-center flex-column align-items-center">
         <a href="/derma-chat">
             <button class="circlepic">
                 <div class="circleborder">
                     <i class="fa-solid fa-robot fa-2xl"></i>
                 </div>
             </button>
         </a>
         <h4>DermaChat</h4>
         <p>A comprehensive application designed for diagnosing skin conditions through image or text inputs. It utilizes advanced image processing and artificial intelligence technologies to provide accurate diagnoses. Additionally, it features a built-in chatbot that offers information and answers queries about various skin diseases, ensuring users receive prompt and reliable assistance.</p>
     </div>
   </div>
 </menu>